@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --radius: 0.625rem;
  --background: #f5f5f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f5f5f5;
  }
}

.dark {
  --background: #0f0f0f;
  --foreground: #f5f5f5;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
